<div class="container">
  <div class="title card">
    <h1>List of favorite things</h1>
  </div>
  <div class="presetWords card">
    <h2>Antidisestablishmentarianism</h2>
    <h2>Pugnacious</h2>

  </div>
  <div class="inputtedWords card">
    <% @word_list.each do |string| %>
      <h2><a href="/words/<%=string.id %>"><%= string.word %></a></h2>
    <% end %>
  </div>



  <form action="/" method="post">
    <div class="form-group card">
      <label for="word">Add A Word</label>
      <input id="word" name="word" class="form-control" type="text">
    </div>
    <div class="form-group card">
      <label for="definition">Add A definition</label>
      <input id="definition" name="definition" class="form-control" type="text">
    </div>
    <button type="submit" class="btn btn-primary">Enter</button>
  </form>


</div>
