<div class="container">
  <div class="title">
    <h1>List of favorite things</h1>
  </div>
  <% @word_list.each do |string| %>
    <h2><a href="/words/<%=string.id %>"<%= string.word %></a></h2>
  <% end %>
  <% @word_list.each do |string| %>
    <h2><%= string.word %></h2>
  <% end %>


  <form action="/" method="post">
    <div class="form-group">
      <label for="word">Add A Word</label>
      <input id="word" name="word" class="form-control" type="text">
    </div>
    <button type="submit" class="btn btn-primary">Enter</button>
  </form>
</div>
