<div class="container">
  <div class="title">
    <h1>List of favorite things</h1>
  </div>

  <form action="/" method="post">
    <div class="form-group">
      <label for="form">Enter Word</label>
      <input id="enterWord" name="form" class="form-control" type="text">
    </div>
    <button type="submit" class="btn btn-primary">Go!</button>
  </form>
</div>
