
<h1><%= @word.word %></h1>
<h1><%= @word.id %></h1>
<h1><%= @definition %></h1>

<form action='/word/:id' method="post">
  <div class="form-group card">
    <label for="definition">Add A definition</label>
    <input id="definition" name="definition" class="form-control" type="text">
  </div>
  <button type="submit" class="btn btn-primary">Enter</button>
</form>
